@font-face {
  font-family: 'the_unseenregular';
  src: url('font/the_unseen-webfont.woff2') format('woff2'),
    url('font/the_unseen-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: lightslategrey;
  font-family: 'optima';
  background-color: black;
  margin-bottom: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.25em;
}

h1,
h2,
h3 {
  color: teal;
  font-family: 'the_unseenregular';
}

hr {
  border: 1px solid rgb(145, 7, 204);
}

ul {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 20vh;
  list-style-image: url('bullet-star.png');
}
ul li {
  flex: 1 0 25%;
}

footer {
  justify-content: center;
  font-size: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
footer span {
  margin: 0 1.5em 0 0;
}

a.heading:link,
a.heading:visited,
a.heading:active {
  color: teal;
  background-color: transparent;
  text-decoration: none;
}

a.heading:hover {
  color: rgb(36, 230, 230);
  background-color: transparent;
  font-style: italic;
}

a.project:link,
a.project:visited,
a.project:active {
  color: rgb(145, 7, 204);
  background-color: transparent;
  text-decoration: none;
}

a.project:hover {
  color: rgb(207, 103, 252);
  background-color: transparent;
  font-style: italic;
}

.headingContainer {
  display: flex;
  flex-direction: row;
}

.heading {
  margin: 0 1.5em 0 0;
}

.project {
  margin: 0 1.5em 0 0;
}

.projectsContainer {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.projectContainer {
  padding: 20px;
  background-color: #212333;
  margin: 0 1.5em 1.5em 1.5em;
}
