@font-face {
  font-family: 'the_unseenregular';
  src: url('font/the_unseen-webfont.woff2') format('woff2'),
    url('font/the_unseen-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: lightslategrey;
  font-family: 'optima';
  background-color: black;
  margin-bottom: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

h1,
h2,
h3 {
  color: teal;
  font-family: 'the_unseenregular';
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

hr {
  color: darkgray;
}

.headingContainer {
  display: flex;
  flex-direction: row;
}

.heading {
  margin: 0 1.5em 0 0;
}

.projectsContainer {
  padding: 10px;
}

.projectContainer {
  padding: 20px;
  background-color: #212333;
  margin: 0 1.5em 1.5em 1.5em;
}
